# Version control
**/.git
**/.svn
**/.hg

# Dependencies
**/node_modules
**/bower_components

# Build outputs
**/build
**/dist
**/coverage

# Environment files
**/.env
**/.env.local

# Logs
**/*.log

# System files
**/.DS_Store
**/Thumbs.db

# Expo / React Native specific
**/.expo
**/.expo-shared
**/android
**/ios
